<h1>What's your name?</h1>

<form action='/new_game' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='register'>
</form>

<% if @name == "" %>
  <% @name = "Player 1" %>
  <h2>Welcome, <%= @name %>.</h2>
<% elsif @name %>
  <h2>Welcome, <%= @name %>.</h2>
<% end %>






